/* CSS Reset: https://www.joshwcomeau.com/css/custom-css-reset/ */

/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input, button, textarea, select {
  font: inherit;
}

/* 8. Avoid text overflows */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/*
  10. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}

/* My Code: */

/* Custom Colors */

:root {
    --background-color: #757575;
    --calculator-color: #505374;
    --edit-button-color: #991d1d;
    --edit-active-button-color: #c42424;
    --operator-button-color: #ad7021;
    --operator-active-button-color: #ca8529;
    --number-button-color: #3f3f3f;
    --number-active-button-color: #585858;
    --equality-button-color: #237423;
    --equality-active-button-color: #30a030;

    --display-color: #c5c5c5;
    --button-font-color: #dfdfdf;
    --border-color: black;
}  

/* Containers */

#main-container {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    padding-top: 5vh;
    background-color: var(--background-color);
}

#calculator-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(7, 1fr);
    height: 80vh;
    width: 30vw;
    background-color: var(--calculator-color);
    padding: 1%;
    gap: 10px;
    border: 2px solid var(--border-color);
}

/* Button Classes */

.button {
    border: 2px solid var(--border-color);;
    font-size: 2rem;
    font-weight: bold;
    overflow: hidden;
    border-radius: 10px;
    color: var(--button-font-color);
}

.edit-button {
    background-color: var(--edit-button-color);
}

.edit-button:active {
    background-color: var(--edit-active-button-color);
}

.operator-button {
    background-color: var(--operator-button-color);
}

.operator-button:active {
    background-color: var(--operator-active-button-color);
}

.number-button {
    background-color: var(--number-button-color);
}

.number-button:active {
    background-color: var(--number-active-button-color);
}

/* Button IDs */

#display-box {
    display: flex;
    grid-row: 1 / 3;
    grid-column: 1 / 5;
    background-color: var(--display-color);
    margin-bottom: 10px;
    border: 2px solid var(--border-color);
    border-radius: 3px;
    font-size: 4rem;
    align-items: center;
    justify-content: right;
    padding: 7%;
    overflow: hidden;
}

#clear-button {
    grid-row: 3 / 4;
    grid-column: 1 / 2;
}

#delete-button {
    grid-row: 3 / 4;
    grid-column: 2 / 3;
}

#delete-svg {
    height: auto;
    width: 40px;
    margin: 10% 0 0 35%;
}

#modulus-button {
    grid-row: 3 / 4;
    grid-column: 3 / 4;
}

#division-button {
    grid-row: 3 / 4;
    grid-column: 4 / 5;
}

#seven-button {
    grid-row: 4 / 5;
    grid-column: 1 / 2;
}

#eight-button {
    grid-row: 4 / 5;
    grid-column: 2 / 3;
}

#nine-button {
    grid-row: 4 / 5;
    grid-column: 3 / 4;   
}

#multiplication-button {
    grid-row: 4 / 5;
    grid-column: 4 / 5;
}

#four-button {
    grid-row: 5 / 6;
    grid-column: 1 / 2;
}

#five-button {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}

#six-button {
    grid-row: 5 / 6;
    grid-column: 3 / 4;
}

#addition-button {
    grid-row: 5 / 6;
    grid-column: 4 / 5;
}

#one-button {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
}

#two-button {
    grid-row: 6 / 7;
    grid-column: 2 / 3;
}

#three-button {
    grid-row: 6 / 7;
    grid-column: 3 / 4;
}

#subtraction-button {
    grid-row: 6 / 7;
    grid-column: 4 / 5;
}

#negative-button {
    grid-row: 7 / 8;
    grid-column: 1 / 2;
}

#zero-button {
    grid-row: 7 / 8;
    grid-column: 2 / 3;
}

#decimal-button {
    grid-row: 7 / 8;
    grid-column: 3 / 4;
}

#equality-button {
    grid-row: 7 / 8;
    grid-column: 4 / 5;
    background-color: var(--equality-button-color);
}

#equality-button:active {
    background-color: var(--equality-active-button-color);
}

#help-button {
    height: fit-content;
    width: fit-content;
    background-color: var(--number-button-color);
    margin: 5%;
    padding: 2% 3%;
}

#help-button:active {
    background-color: var(--number-active-button-color);
}

#history-button {
    height: fit-content;
    width: fit-content;
    background-color: var(--number-button-color);
    margin: 5%;
    padding: 2% 3%;
}

#history-button:active {
    background-color: var(--number-active-button-color);
}


/* Media queries for screen widths */

@media (max-width: 2400px) {

    #calculator-container {
        width: 20vw;
    }

}

@media (max-width: 2200px) {

    #calculator-container {
        width: 30vw;
    }

}

@media (max-width: 1600px) {

    #calculator-container {
        width: 40vw;
    }

}

@media (max-width: 1300px) {

    #calculator-container {
        width: 60vw;
    }

}

@media (max-width: 1000px) {

    #calculator-container {
        width: 80vw;
    }

}

@media (max-width: 700px) {

    #calculator-container {
        width: 90vw;
    }

}

@media (max-width: 600px) {

    #calculator-container {
        width: 98vw;
    }

}

@media (max-width: 300px) {

    #calculator-container {
        display: none;
    }

}

/* Media queries for screen heights */

@media (max-height: 2000px) {

    #calculator-container {
        height: 40vh;
    }

}

@media (max-height: 1500px) {

    #calculator-container {
        height: 60vh;
    }

}

@media (max-height: 1000px) {

    #calculator-container {
        height: 80vh;
    }

}

@media (max-height: 700px) {

    #calculator-container {
        height: 90vh;
    }

}


@media (max-height: 600px) {

    #calculator-container {
        display: none;
    }

}